@model WEBCRUDMVCSQL.Models.Produto

@{
    ViewData["Title"] = "Details";
}

<div>
    <a asp-action="Index"> <i class="bi bi-arrow-left" style="font-size: 3rem; color:black;"></i></a>
</div>
<h1>Detalhes</h1>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
</div>
<div>
    <a type="button" class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
</div>
